body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
  }
  .square-container {
    display: flex; 
  }
  .square {
    margin-right: 10px;
    width: 70px;
    height: 70px;
    border: 2px solid rgb(7, 7, 7);
    border-radius: 15px;
    cursor: pointer;
  }